<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMsvVX5dt61YWFJ6345DDe6I3xNmE_3_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>821297909674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msdtech.javaprofi</string>
	<key>PROJECT_ID</key>
	<string>java-profi</string>
	<key>STORAGE_BUCKET</key>
	<string>java-profi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821297909674:ios:711881ee9b84fd8b0b65d3</string>
</dict>
</plist>